body {
    background: seashell;
    font-family: sans-serif;
}

button {
    color: seashell;
    border: none;
    border-radius: 50px;
}

button.plan {
    background: #FF764E;
}

button.learn {
    background: #5ED3EB;
}

button.get {
    background: #FFCD69;
}